data/Recomended_Anime_data/raw/kaggle_recomend_data/rating.csv filter=lfs diff=lfs merge=lfs -text
G:/hoc/private/Anime-app/model/Character_classifier/AnimeHeadDetector/head.weights filter=lfs diff=lfs merge=lfs -text
G:/hoc/private/Anime-app/model/Character_classifier/vit_model.pth filter=lfs diff=lfs merge=lfs -text
G:/hoc/private/Anime-app/model/Captions_and_Tagging/Model_Second_half/blip-anime/checkpoint-80000/model.safetensors filter=lfs diff=lfs merge=lfs -text
G:/hoc/private/Anime-app/model/Captions_and_Tagging/Model_Second_half/blip-anime/checkpoint-80000/optimizer.pt filter=lfs diff=lfs merge=lfs -text
G:/hoc/private/Anime-app/model/Captions_and_Tagging/Model_Second_half/blip-anime-half2-final/model.safetensors filter=lfs diff=lfs merge=lfs -text
G:/hoc/private/Anime-app/model/Captions_and_Tagging/Tagging[[:space:]]model/model_danboruu_resnet50_finetuned.pth filter=lfs diff=lfs merge=lfs -text
G:/hoc/private/Anime-app/model/Captions_and_Tagging/Tagging[[:space:]]model/model_resnet50_finetuned.pth filter=lfs diff=lfs merge=lfs -text
G:/hoc/private/Anime-app/model/Captions_and_Tagging/Tagging[[:space:]]model/model_resnet152_finetuned_second_half.pth filter=lfs diff=lfs merge=lfs -text
G:/hoc/private/Anime-app/model/Character_classifier/resnet50_finetuned.pth filter=lfs diff=lfs merge=lfs -text
model/Captions_and_Tagging/Tagging[[:space:]]model/model_danboruu_resnet50_finetuned.pth filter=lfs diff=lfs merge=lfs -text
model/Character_classifier/AnimeHeadDetector/head.weights filter=lfs diff=lfs merge=lfs -text
model/Character_classifier/vit_model.pth filter=lfs diff=lfs merge=lfs -text
model/Captions_and_Tagging/Model_Second_half/blip-anime/checkpoint-80000/model.safetensors filter=lfs diff=lfs merge=lfs -text
model/Captions_and_Tagging/Model_Second_half/blip-anime/checkpoint-80000/optimizer.pt filter=lfs diff=lfs merge=lfs -text
model/Captions_and_Tagging/Model_Second_half/blip-anime-half2-final/model.safetensors filter=lfs diff=lfs merge=lfs -text
model/Captions_and_Tagging/Tagging[[:space:]]model/model_resnet50_finetuned.pth filter=lfs diff=lfs merge=lfs -text
model/Captions_and_Tagging/Tagging[[:space:]]model/model_resnet152_finetuned_second_half.pth filter=lfs diff=lfs merge=lfs -text
model/Character_classifier/resnet50_finetuned.pth filter=lfs diff=lfs merge=lfs -text
